<div class="page__wrap longmouth-theme">
  {% section 'longmouth-site-settings' %}
  {% section 'longmouth-topbar' %}
  {% section 'longmouth-main' %}
  {% section 'longmouth-footer' %}
  {% section 'longmouth-shop-wrap' %}
  {% section 'longmouth-policy-pages' %}
</div>
{{ content_for_index }}
