<aside id="product__panel" class="product__wrap" aria-hidden="true">
  <div class="product__panel-inner">
    <button type="button" id="productDrawerClose" class="menu__item outline-top-side">back to shop</button>
    <div id="longmouth-product-drawer-content" class="product__detail-item"></div>
  </div>
</aside>
